.Title-container {
  width: 100%;
}

.Title-container ul {
  list-style: none;
  display: flex;
}

.Title-container ul li {
  padding: 13px 30px;
  text-align: center;
  margin-right: 10px;
  box-shadow: 0px 5px 15px 0px #88888826;
  border-radius: 5px;
  font-size: 18px;
}

.Title-container ul li a {
  color: #0096C2;
  text-decoration: none;
}
