.Highlight-container {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.Highlight-body {
  width: 32%;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px 0px #88888826;
}

.Highlight-body-color {
  width: 100%;
  height: 5px;
  /* margin: 20px 0px; */
}

.color-3 {
  background-color: rgb(106, 93, 93);
}

.color-2 {
  background-color: rgb(144, 238, 144);
}

.color-1 {
  background-color: rgb(252, 60, 60);
}

.Highlight-body h1 {
  margin: 10px 0px;
  color: #0055bee0;
}

.Highlight-body-h3-1 {
  color: rgb(255, 0, 0);
  font-size: 30px;
  font-weight: 700;
}

.Highlight-body-h3-2 {
  color: #55efc4;
  font-size: 30px;
  font-weight: 700;
}

.Highlight-body-h3-3 {
  color: #636e72;
  font-size: 30px;
  font-weight: 700;
}
