* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap");

.app-container {
  width: 95%;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
}
